# C++ dosyalarını dil algılamasından çıkart
*.cpp linguist-detectable=false
*.hpp linguist-detectable=false
*.cc linguist-detectable=false
*.hh linguist-detectable=false
*.cxx linguist-detectable=false
*.hxx linguist-detectable=false

# Dart dosyalarını dil algılamasından çıkart
*.dart linguist-detectable=false

# Java dosyalarını dil algılamasına dahil et
*.java linguist-detectable=true

# Belirli dosyaları ve uzantıları dil algılamasına dahil etme
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# Bazı dosyaları tamamen yoksay
docs/** linguist-vendored
test/** linguist-vendored

# Belirli dosyaların Java olarak algılanmasını sağla
*.kt linguist-language=Java
*.groovy linguist-language=Java
